@model RequestSystem.Models.Note

@{
    ViewData["Title"] = "Edit";
}

<h2>Редактирование</h2>

<h4>Заявка № @Html.DisplayFor(model => model.Id) от @Html.DisplayFor(model => model.CreateDate) </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" required readonly />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" required readonly />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label" required></label>
                <select class="form-control" @Html.DropDownList("Status", new SelectList(ViewBag.Statuseslist2), @ViewData["CurrentStatus"])</select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>Ваш комментарий:</h4>
                <textarea type="text" name="History" class="form-control" required value=""></textarea>
                <span asp-validation-for="History" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">К списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
